body{
  font-family: arial;

 
  
}
/*ESTILOS GENERALES*/
nav ul{
    list-style:none; /* quitamos las viñetas */
      padding:0; /*espaciado que se da a cada nivel quitar*/
      box-shadow: 0 5px 10px rgba(2, 2, 2, 0.77);
	   z-index: 999;
}
nav li{
  line-height: 3rem; /*altura de linea*/
  position:relative; 
}
.menu ul{
  position:absolute;/*nos manda toda en una linea*/
}
nav a{
  color:white; /*elegimos color del dexto*/
  font-weight: bold;
  /* font-size:13px;  DAMAS TAMAÑO AL TEXTO DE LA BARRA DE MENU*/  
  display:block;/*que ocupe todo el alto*/
  padding:0 1.2em; /*dar separacion entre cad item*/
  text-decoration:none; /*quitar efecto tacher del item___*/
  transition: .4s; /*transcion del hover*/
}
nav a:hover{
  background: rgba(31, 150, 197, 0.767)/*color del efecto  hover */
}
nav  li ul{
 display: none; /*ocultamos los subniveles*/
}
nav li:hover >ul{
   display:block;
}


/*PRIMER NIVEL*/
.menu{
  background:rgb(0, 183, 255);
  display:table;
  width:100%; /*size todo el ancho*/  
}
.menu >li{
  float:left; /*flotar a la left alinear en una sola linea*/
}
/*SEGUNDO GENERAL*/
nav li li{
  border-top: 1px solid white;
  background: rgba(37, 54, 92, 0.438);  
  width: 190px; /*dar ancho a los submenus*/
}
.menu>li>ul{
    top:100%; /*posicion del submenu desplegar abajo*/
    
  }
/*TERCER NIVEL*/
nav ul ul ul{
left: 100%;  
top:0;


}

/*DROPUP MENU ARRIBA*/
  .dropbtn {
  padding: 16px;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  min-width: 160px;
  bottom: 45px; /*AJUSTARMOS ARRIBA LA IMAGEN */
  z-index: 1;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {background-color: #ccc}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: #2980B9;
}
